.main__txtEtImg{
    display:flex;
    gap:var(--space2x);
    align-items: center;
    margin-top :8px;
    font-family: var(--font-texte-main);
    line-height: 1.25;
    font-weight: 400;
    margin: 12px;
}
figure{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
figcaption{
    display: flex;
    justify-content: center;
    margin:auto;
    font-family: var(--font-texte-intro);
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
}