.header{
    background-color : #FFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: var(--space2x) var(--space3x);
    justify-content: space-between;
    transition: all .3s ease-in-out;
    border-bottom: 0.5px solid #95989A;
}
.header__acceuil{
  background:  linear-gradient(180deg, rgb(254,178,47) 0%, rgb(217,45,60) 85%);
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  padding: var(--space2x) var(--space3x);
  justify-content: space-between;
  transition: all .3s ease-in-out;
  height: 100vh;
}
.header--atTop {
    background-color: #FFFF;
  }
  
 
  
  .header__search {
    width: 40px;
    filter: invert();
  }
  
  /* On annule le filtre d'inversion des couleurs lorsqu'on commence à scroller dans la page et que l'en-tête devient blanc */
  .header--atTop .header__search {
    filter: none;
  }

.header__tampon{
    display:block;
    background-color: var(#FFFF);
    height: 7vh;
    margin-bottom: 25px;
}
/*.header__tamponAcceuil{
  display:block;
  background-color: rgb(254,178,47);
  height: 9.5vh;
  margin-bottom: 25px;
}
