.index__tweet{
    background-color:  white;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 8px 8px 2px 1px black;
    text-align: center;
    margin: 5rem 2.5rem;
 }
 .index__tweet img{
   max-width: 100%;
   height: auto;
   border-top-left-radius: 8px ;
   border-top-right-radius: 8px;
   line-height: 1.15;
 }

 .index__tweet h2{
    font-family: var(--font-texte-tweet);
    font-weight: 400;
    font-size: 25px;
    text-align: left;
    margin-left: 22px;
 }
 .tweet__acroche{
    font-family: var(--font-texte-tweet);
    font-weight: 400;
    font-size: 18px;
    margin: 34px 24px;
    text-align: left;
 }

.tweet__buttonTxt{
    font-family: var(--font-texte-tweet);    
    text-align: right;
    margin-right: 10px;
    border-top: 0.5px solid #D9DBDD;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight:bold;
    text-transform: uppercase;
 }
.tweet__buttonTxt a{
    color: var(--menu-button);
}

.tweet__projets{
    background-color:  #E0E0E0;
    box-shadow: 8px 8px 2px 1px #E0E0E0;
    text-align: center;
    margin: 2rem 0.7rem; 
}
.tweet__projets img{
    max-width: 100%;
    height: auto;
    line-height: 1.15;
    padding-top: 15px;
  }
  .tweet__projets h2{
    font-family: var(--font-texte-header);
    font-weight: 400;
    font-size: 22px;
    color: var(--menu-button);
    text-align: center; 
    margin:auto;
 }
 .tweet__acrocheProjet{
    font-family: var(--font-texte-header);
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    margin: auto;
    text-align: center;
 }
 .tweet__buttonTxtProjet{
    font-family: var(--font-texte-tweet);    
    text-align: right;
    margin-right: 10px;
    padding-top: 40px;
    padding-bottom: 7.5px;
    font-weight:bold;
    text-transform: uppercase;
 }
.tweet__buttonTxtProjet a{
    color: black;
}
.main__txtEtImgProjets{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
}